# obvious sensitive and large files
corpus
training
packages
pretrain
project.lock

.env
.idea
.vscode
__pycache__/

# we don't want to share the dataset
*.jsonl
*.zip

# wandb is used for logging purposes
wandb
